.ingredientsForm {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;

    input {
        grid-column: 1;
        max-width: 50%;
    }
    select {
        grid-column: 2;
    }
}