.ingredientsForm {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;

    input {
        grid-column: 1;
        max-width: 100px;
    }
    select {
        grid-column: 2;
    }
    button {
        grid-column: 3;
    }
}