.newRecipeForm {
    input {
        height: 100px;
        font-size: 5rem;
        border: 1px solid black;
    }
    
    .ingredientsForm {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
        width: 100%;
    
        
        #category {
            height: 100px;
        }
        select {
            grid-column: 2;
            width: 100px;
            height: 100px;
            font-size: 2rem;
            border: 1px solid black;
        }
        
    }
    #addRecipeButton {
        height: fit-content;
        max-width: fit-content;
        font-size: 3rem;
        margin-left: auto;
        margin-right: auto;
    }
}