*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .header {
        width: 100%;
        height: fit-content;
        position: fixed;
        top: 0;
        display: grid;
        grid-template-columns: repeat(6,1fr);

        #banner {
            font-size: 3rem;
            grid-column: 1;
        }
    }

    .footer {
        position: absolute;
        bottom: 0px;
        background-color: rgba(0,0,0,0.5);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}